@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: slategray;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px; /* Adjust maximum width as needed */
}

.form-box {
    flex: 1;
    background-color: purple; /* Updated color for login box */
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-box.yellow {
    background-color: yellow; /* Yellow background color */
}

.form-box.green {
    background-color: green; /* Green background color */
}

.form-box h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.input-box input {
    width: calc(100% - 40px);
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    padding-right: 40px;
}

.input-box input::placeholder {
    color: #ffffff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.forgot-pass {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin-bottom: 20px;
}

.forgot-pass label {
    color: #fff;
    margin-right: 10px;
}

.forgot-pass a {
    color: #fff;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
